# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
.env/
.venv/
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/
# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.coverage 
*.cover

# Translations
*.mo
*.pot  
# Django stuff:
*.log
local_settings.py
db.sqlite3